.info {
    color: #ffffff;
    font-family: "Poppins Medium";
    font-size: 36px;
    font-weight: 600;
    margin: 32px;
    div {
        font-size: 18px;
        width: 50%;
        font-family: "Poppins Regular";
        line-height: 32px;
    }
}
