.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
  background-image: url("https://images.unsplash.com/photo-1537724326059-2ea20251b9c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1752&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0 2rem;
}
.mainRow {
  // padding-right: 5em;
}
.login-form-container {
  width: 400px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid white;
  // box-shadow: 0 2px 4px 0 rgba(28, 25, 83, 0.61);
  padding: 1.5em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.signup-redirect {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  font-family: var(--global-body-FontFamily);
  .signup-text {
    text-transform: uppercase;
    // color: #1c1953;
    color: white;
    font-size: 16px;
  }
  .link-style {
    text-transform: uppercase;
    cursor: pointer;
    // color: #3237b5;
    color: white;
    font-size: 14px;
    text-decoration: none;
  }
}
