.grayContainer {
    background-color: #f8f8f8;
    padding: 18px 28px;
    border-radius: 8px;
    position: relative;
    .editButton {
        position: absolute;
        right: 25px;
        top: 25px;
    }
}
