.navMenu {
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 60px;
    background: linear-gradient(
        90deg,
        rgba(250, 229, 150, 1) 30%,
        rgba(63, 176, 172, 1) 80%,
        rgba(23, 62, 67, 1) 100%
    );
    .linkWrapper {
        width: 100%;
        .navMenuItems {
            display: flex;
            align-items: center;
            list-style: none;
            li {
                font-size: 25px;
                margin-right: 24px;
                a {
                    position: relative;
                    display: block;
                    overflow: hidden;
                    color: rgba(23, 62, 67, 1);
                    text-decoration: none;
                    span {
                        transition: transform 0.2s ease-out;
                    }
                    span:first-child {
                        display: inline-block;
                        padding: 8px 20px;
                    }
                    span:last-child {
                        font-size: 16px;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transform: translateY(-100%);
                    }
                }
            }
            .firstLink {
                display: flex;
                img {
                    max-width: 120px;
                    max-height: 120px;
                    margin: -40px -24px;
                    margin-left: -30px;
                }
            }
        }
        .navMenuItems a:hover span:first-child {
            transform: translateY(100%);
        }
        .navMenuItems a:hover span:last-child,
        .navMenuItems[data-animation] a:hover span:last-child {
            transform: none;
        }
    }
    .buttonWrapper {
        right: 0;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            margin: 1em;
            padding: 6px 20px;
            border-radius: 10px;
            background-color: transparent;
            color: rgba(250, 229, 150, 1);
            border: 1px solid rgba(250, 229, 150, 1);
            box-shadow: none;
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    .gradientBase2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        outline: 2px solid black;
        outline-offset: -60px;
        width: 80vw;
        height: 80vh;
        overflow: hidden;
        background: linear-gradient(
                90deg,
                rgba(250, 229, 150, 0.5) 30%,
                rgba(63, 176, 172, 0.5) 80%,
                rgba(23, 62, 67, 0.5) 100%
            ),
            url("http://localhost:3000/background.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .linksWrapper {
        display: flex;
        width: 70vw;
        justify-content: space-around;
        align-items: center;
    }
    a {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 400;
        background-image: linear-gradient(
            90deg,
            rgba(63, 176, 172, 1) 20%,
            rgba(23, 62, 67, 1) 80%
        );
        background-size: 200% 100%;
        background-position: -100%;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
    }

    a:before {
        content: "";
        background: rgba(23, 62, 67, 1);
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        transition: all 0.3s ease-in-out;
    }

    a:hover {
        background-position: 0;
    }

    a:hover::before {
        width: 100%;
    }
}
