.wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    .formContainer {
        width: 40%;
        display: flex;
        flex-direction: column;
        background-color: white;
        input::placeholder {
            color: black;
            opacity: 60%;
        }
        .header {
            margin: 1em;
            h3 {
                text-transform: uppercase;
                font-size: 2em;
                color: black;
            }
        }
        .formBody {
            margin: 1em;
        }
    }
    .otherContainer {
        width: 60%;
    }
}
